.container {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10rem 10rem auto;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: flex-start;

  @media only screen and (max-width: $bp-small) {
    grid-row: 1/2;
  }
}

.gameboard {
  // grid-row: 3/4;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap-reverse;
  margin: auto;
}
.title {
  grid-row: 2/3;
  width: 90%;
  text-align: center;
  color: $color-blue;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
}

.imgdiv {
  grid-row: 4/5;
  display: flex;
  width: 300px;
  align-items: center;
  justify-self: center;
  justify-content: center;
  padding: 0;
  margin: 2rem auto;
  margin-bottom: 3rem;
}

.imgdiv img {
  height: 100%;
  width: auto;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  justify-self: center;
}

.minicard {
  display: flex;
  flex-direction: column;
  border: 1ps solid black;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 8rem;
  width: 12rem;
  margin: 1rem 1rem;
  padding-top: 4px;
  background-color: $color-yellow;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);

  h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: $color-slate;
  }
}

.minicard img {
  height: 5rem;
}
